/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ignore user's avatar uploads
/public/uploads/images/avatars/*
# Ignore topic images
/public/uploads/images/topics/*
.DS_Store
